th { font-size: 11px; }
td { font-size: 10px; }
tfoot th { font-size: 10px; }
#main select {
    background-size: contain; 
    background: auto;
}
select { font-size: 6px; line-height: 1.6; width: 100%; padding: inherit 4em; }
search { font-size: 6px; height: 60%;}
.dataTables_filter select { width: 100%; }
select label{ font-size: 6px; }
.dataTables_length label {font-size: 6px; }
.dataTables_filter label {font-size: 6px; }
.dataTables_paginate { font-size: 6px; }
.paging_simple_numbers { font-size: 6px; }
.paginate_button { font-size: 6px; }
.dataTables_info { font-size: 6px; }

.features li {
/*     width: calc(33.33333% - 2em); */
    margin-left: .2em;
/*     margin-top: 3em; */
/*     padding: 0; */
}
.feature {
    width: calc(100% + +60%);
    margin: 0 0 3em -30%;
}
.dt-button{
    border: None;
    height: -0.4em;
    margin: -2em -2em -2em -2em;
}