
/* th { font-size: 11px; }
td { font-size: 10px; } 
tfoot th { font-size: 10px; } */
th { font-size: 13px; }
td { font-size: 12px; }
tfoot th { font-size: 12px; }

#main select {
    background-size: contain; 
    background: auto;
    background-size: 12px;
}
select { font-size: 12px; line-height: 1.6; width: 100%; padding: inherit 4em; }
search { font-size: 12px; height: 60%; border-width: .5px}
.dataTables_filter select { width: 100%; }
select label{ font-size: 12px; }
.dataTables_length label {font-size: 12px; }
.dataTables_filter label {font-size: 12px; }
.dataTables_paginate { font-size: 12px; }
.paging_simple_numbers { font-size: 12px; }
.paginate_button { font-size: 12px; }
.dataTables_info { font-size: 12px; }
#main input{
    height: 16px;
    font-size: 12px;
}


.features {
    width: calc(100% + +50%);
    margin: 0 0 3em -25%;
}
.features li {
    width: calc(37.5% - 2em);
    margin-left: .2em;
/*     margin-top: 3em; */
/*     padding: 0; */
}

.dt-button{
    border: None;
    height: -0.4em;
    margin: -2em -2em -2em -2em;
}


